@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 358 77% 52%;
    --primary-foreground: 0 0% 98%;

    --secondary: 225 73% 57%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 217 87% 30%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --whiteout: 225 20% 96%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  @font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
  }

  @font-face {
    font-family: 'Libre Baskerville';
    src: url('/assets/fonts/LibreBaskerville-Regular.ttf');
  }

  @font-face {
    font-family: 'Bebas Neue';
    src: url('/assets/fonts/BebasNeue-Regular.ttf');
  }

  @font-face {
    font-family: 'Red Rose';
    src: url('/assets/fonts/RedRose-VariableFont_wght.ttf');
  }

  * {
    @apply border-border;
    scroll-behavior: smooth;
    scrollbar-width: 0;
  }
  body {
    @apply bg-whiteout text-foreground;
    font-family: 'Open sans', sans-serif;
  }
}

/* Home */
.hero-wrapper {
  position: relative;
  height: 100vh;
}

.hero-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/washington.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(90%) blur(1px);
  z-index: -1;
}

.hero-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 30, 71, 0.7);
  z-index: 1;
}

.hero,
.header-wrapper {
  position: relative;
  z-index: 2;
}

/* Let's talk */
.lets-talk-action-wrapper {
  background-image: linear-gradient(
    to right bottom,
    #4169e1,
    #8f56d0,
    #bd3cb3,
    #da1b8e,
    #e70065,
    #e00061,
    #d9005e,
    #d2005a,
    #b70c76,
    #91278a,
    #5f3693,
    #0a3d91
  );
}

.lets-talk-action-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.1);
}

.lets-talk-action {
  position: relative;
  z-index: 10;
}

/* Services */
#services {
  position: relative;

}

#services::before {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../public/assets/images/dc-monument.jpg');
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(75%) blur(4px);
}


#services::after {
  overflow: hidden;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Footer */
.social-media > a {
  font-size: 1.75rem;
}
